@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@theme {
  --color-primary: #635bff;
  --color-body: #f3f3f9;
  --color-brand-500: #465fff;
  --font-sans: Outfit, sans-serif;
  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
